<table class="table_base team_traits">
  <thead>
    <tr>
      <th class="border_bottom_none border_right_thick">
      <% teams.each do |team| -%>
        <th colspan="2" class="toggle_actions" data-team_id="<%= team.id %>">
          <%= team.abbr %>
        </th>
      <% end -%>
    </tr>
    <tr class="border_bottom_thick">
      <th class="border_top_none border_right_thick">
      <% teams.each do |team| -%>
        <th colspan="2" class="toggle_actions" data-team_id="<%= team.id %>">
          <%= team.year %>
        </th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% trait_names.each do |trait_name| -%>
      <% td_class = ''
         td_class = 'border_top_thick' if %w[pass_short run_defense pass_rush place_kicking].include?(trait_name) -%>
      <tr>
        <td class="border_right_thick <%= td_class %>">
          <%= trait_name %>
        </td>
        <% teams.each do |team| -%>
          <% team_trait = team.team_trait
             team_trait_last = team.team_in_last_year&.team_trait -%>
          <td class="numeric last <%= td_class %>">
            <%= value_last = team_trait_display(team_trait_last, trait_name) %>
          </td>
          <td class="numeric <%= td_class %>">
          <%= team_trait_display(team_trait, trait_name, value_last) %>
            <span
                class="actions <%= "team_#{team.id}" %>"
                <%= team_trait.id == flash[:team_trait_id] ? '' : 'hidden' %>
                >
              <%= link_to '－', decrement_team_trait_path(team_trait, name: trait_name) %>
              <%= link_to '＋', increment_team_trait_path(team_trait, name: trait_name) %>
            </span>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
