<%
  unless defined? shows_last_year
    shows_last_year = false
  end

  cols_team = shows_last_year ? 2 : 1
-%>

<table class="table_base team_traits">
  <thead>
    <tr>
      <th class="border_bottom_none border_right_thick">
      <% teams.each do |team| -%>
        <th colspan="<%= cols_team %>" class="toggle_actions" data-team_id="<%= team.id %>">
          <%= team.abbr %>
        </th>
      <% end -%>
    </tr>
    <tr class="border_bottom_thick">
      <th class="border_top_none border_right_thick">
      <% teams.each do |team| -%>
        <th colspan="<%= cols_team %>" class="toggle_actions" data-team_id="<%= team.id %>">
          <%= team.year %>
        </th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% trait_names.each do |trait_name| -%>
      <% td_class = ''
         td_class = 'border_top_thick' if %w[pass_short run_defense pass_rush place_kicking].include?(trait_name)
         td_class = 'border_bottom_thick' if trait_name == 'return_coverage' -%>
      <tr>
        <td class="border_right_thick <%= td_class %>">
          <%= trait_name %>
        </td>
        <% teams.each do |team| -%>
          <% team_trait = team.team_trait
             team_trait_last = team.team_in_last_year&.team_trait -%>
          <% if shows_last_year -%>
            <td class="numeric last <%= td_class %>">
              <%= value_last = team_trait_display(team_trait_last, trait_name) %>
            </td>
          <% end -%>
          <td class="numeric <%= td_class %>">
          <%= team_trait_display(team_trait, trait_name, value_last) %>
            <span
                class="actions <%= "team_#{team.id}" %>"
                <%= team_trait.id == flash[:team_trait_id] ? '' : 'hidden' %>
                >
              <%= link_to '－', decrement_team_trait_path(team_trait, name: trait_name) %>
              <%= link_to '＋', increment_team_trait_path(team_trait, name: trait_name) %>
            </span>
          </td>
        <% end -%>
      </tr>
    <% end -%>

    <tr><td class="border_right_none">&nbsp;</td></tr>

    <tr>
      <th class="border_top_thick border_bottom_none border_right_thick">
      <% teams.each do |team| -%>
        <th colspan="<%= cols_team %>" class="border_top_thick">
          <%= team.abbr %>
        </th>
      <% end -%>
    </tr>
    <% team_rating_names.each do |rating_name| -%>
      <% td_class = ''
         td_class = 'border_top_thick' if rating_name =~ /\A(?:run|off|total)/ -%>
      <tr>
        <td class="border_right_thick <%= td_class %>">
          <%= rating_name %>
        </td>
        <% teams.each do |team| -%>
          <% team_trait = team.team_trait -%>
          <td colspan="<%= cols_team %>" class="numeric rating <%= td_class %>">
            <%= team_trait.send(rating_name) %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
