<table class="playoffs">
  <% @playoffs_by_week.each do |week, schedules| -%>
    <tr><td colspan="3"><%= "Week #{week}" %></td></tr>
    <% schedules.each do |schedule| -%>
      <% game = schedule.game -%>
      <tr>
        <td class="numeric <%= schedule && schedule == next_schedule ? 'next_game' : '' %>">
          <%= link_to_if game&.final?, schedule_index_display(schedule, week), game %>
        </td>
        <td><%= game %></td>
        <% if game.final? -%>
          <td class="winner"><%= game.winner.abbr %></td>
          <td>wins</td>
          <td class="centered">
            <%= game.result_and_scores_for(game.winner).last(2).join(' - ') %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>
