<table class="playoffs">
  <% @playoffs_by_week.each do |week, schedules| -%>
    <tr>
      <td class="name" colspan="3"><%= @league.playoff_name_in(week) %></td>
    </tr>
    <% schedules.each do |schedule| -%>
      <% game = schedule.game -%>
      <tr>
        <td class="numeric <%= schedule && schedule == next_schedule ? 'next_game' : '' %>">
          <%= link_to_if game&.final?, schedule_index_display(schedule, week), game %>
        </td>
        <td><%= game %></td>
        <% if game.final? -%>
          <% score_winner, score_loser = game.result_and_scores_for(game.winner).last(2) -%>
          <td class="winner"><%= game.winner %></td>
          <td class="numeric"><%= score_winner %></td>
          <td class="centered">-</td>
          <td class><%= game.loser %></td>
          <td class="numeric"><%= score_loser %></td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>
