<table class="schedules_by_week">
  <caption><%= "Week #{week}" %></caption>

  <% schedules = @schedules_by_week[week]
     last_schedule = schedules.last -%>
  <% schedules.each do |schedule| -%>
    <% game = schedule.game -%>

    <tr>

      <%# TODO: Extract into partial %>
      <td class="numeric <%= schedule == next_schedule ? 'next_game' : '' %>">
        <%= link_to_if game&.final?, schedule_index_display(schedule, week), game %>
      </td>
      <% optional_strs = {}
         optional_strs['h'] = " (#{team_result_display_for(game.home_team)})"
         optional_strs['v'] = " (#{team_result_display_for(game.visitors )})" -%>
      <td><%= game ? game.to_s(optional_strs) : '(bye)' %></td>
      <% if game&.final? || game&.ongoing? -%>
        <% ongoing = game.ongoing? ? 'ongoing' : '' -%>
        <td class="numeric <%= ongoing %>"><%= game.score_visitors %></td>
        <td class="<%= ongoing %>">-</td>
        <td class="numeric <%= ongoing %>"><%= game.score_home %></td>
        <% if game.ongoing? -%>
          <td class="ongoing">
            <%= game_time_display(game) %>
          </td>
        <% elsif game.overtime? %>
          <td class="overtime_mark">OT</td>
        <% end -%>
      <% elsif schedule == next_schedule && schedule != last_schedule -%>
        <td colspan="4">
        <td><%= link_to 'Postpone', postpone_schedule_path(schedule, league_id: @league),
                method: :patch, id: 'link_to_postpone_schedule' %></td>
      <% end -%>

    </tr>
  <% end -%>
</table>
