<table class="standings">
  <thead>
    <th>
    <th>G</th>
    <th>W</th>
    <th>L</th>
    <th>T</th>
    <th>PF</th>
    <th>PA</th>
    <th>Conference</th>
  </thead>
  <tbody>
    <% standings.each do |standing| -%>
      <tr>
        <td><%= standing.team %></td>
        <td class="games  numeric"><%= standing.games %></td>
        <td class="games  numeric"><%= standing.won   %></td>
        <td class="games  numeric"><%= standing.lost  %></td>
        <td class="games  numeric"><%= standing.tied  %></td>
        <td class="points numeric"><%= standing.pf    %></td>
        <td class="points numeric"><%= standing.pa    %></td>
        <td class="centered"><%= standing.conference %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
