<table class="team_schedule">
  <caption><%= "#{team} (#{team_result_display_for(team)})" %></caption>
  <% @schedules_by_week.each do |week, schedules| -%>
    <% schedule = schedules.detect { |s| s.for?(team) }
       game = schedule&.game
       game_display = game&.to_s&.sub(/\s*(?:at\s+)?#{team.name}\s*/, '')
       result_displays = game_result_display(game, team) -%>
    <tr>
      <td class="numeric <%= schedule&.next? ? 'next_game' : '' %>">
        <%= link_to_if game&.final?, schedule_index_display(schedule, week), game %>
      </td>
      <td class="opponent"><%= game_display || '(bye)' %></td>
      <td class="centered"><%= result_displays[0] %></td>
      <td class="centered"><%= result_displays[1] %></td>
    </tr>
  <% end -%>
</table>
