<table class="stats">
  <thead>
    <tr>
      <th>
      <th>Att</th>
      <th>Yards</th>
      <th>Avg</th>
      <th>Long</th>
      <th>TD</th>
      <th>FL</th>
    </tr>
  </thead>
  <tbody>
    <% team_run_stats.each do |run_stats| -%>
      <tr>
        <td><%= run_stats.owner %></td>
        <td class="numeric"><%= run_stats.attempts %></td>
        <td class="numeric"><%= run_stats.yards.to_s(:delimited) %></td>
        <td class="numeric"><%= "%3.1f" % run_stats.yards_per_carry %></td>
        <td class="numeric"><%= run_stats.long %></td>
        <td class="numeric"><%= run_stats.touchdowns %></td>
        <td class="numeric"><%= run_stats.fumbles_lost %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
