<div class="leagues_show">
  <% next_schedule = @league.next_schedule -%>

  <div class="page_title">
    <%= @league %>
    <% prev_league, next_league = @league.prev_league, @league.next_league -%>
    <span><%= link_to_if prev_league, '<', prev_league %></span>
    <span><%= link_to_if next_league, '>', next_league %></span>
  </div>

  <div class="team_schedules">
    <% @league.standings.map(&:team).each do |team| -%>
      <%= render partial: 'team_schedule', locals: {team: team, next_schedule: next_schedule} %>
    <% end -%>
  </div>

  <div class="standings">
    <% if !@league.direct_teams.empty? -%>
      <%= render partial: 'standings', locals: {standings: @league.standings} %>
    <% else -%>
      <% @league.conferences.each do |conference| -%>
        <%= render partial: 'standings', locals: {standings: conference.standings} %>
      <% end -%>
    <% end -%>

    <div class="team_traits" hidden>
      <%= render partial: 'teams/traits', locals: {teams: @league.standings.map(&:team)} %>
    </div>
  </div>

  <div class="links">
    <% if next_schedule -%>
      <%= link_to "Next => #{schedule_with_team_result(next_schedule)}", next_schedule.game %>
    <% end -%>
    <%= link_to 'Games', games_path(league_id: @league) %>
    <%= link_to 'Teams', '#', id: 'toggle_teams' %>
    <%= link_to_toggle_stats %>
    <%= link_to 'Last Game', @game_played_last %>
  </div>

  <% if @shows_stats -%>
    <div class="stats_tables">
      <%= render partial: 'team_run_stats',
            locals: {team_run_stats: @league.total_team_stats.map(&:run_stats).sort_by { |s| -s.yards }} %>

      <%= render partial: 'team_pass_stats',
            locals: {team_pass_stats: @league.total_team_stats.map(&:pass_stats).sort_by { |s| -s.rating }} %>

      <table class="stats">
        <thead>
          <tr>
            <th>
            <th>Att</th>
            <th>FGM</th>
            <th>%FG</th>
            <th>Long</th>
            <th>BLK</th>
            <th>1-19</th>
            <th>20-29</th>
            <th>30-39</th>
            <th>40-49</th>
            <th>50+</th>
            <th>XPA</th>
            <th>XPM</th>
            <th>%XP</th>
          </tr>
        </thead>
        <tbody>
          <% @league.total_team_stats.sort_by { |s| -s.kick_stats.fgs_made }.each do |team_stats| -%>
            <% kick_stats = team_stats.kick_stats -%>
            <tr>
              <td><%= team_stats.team %></td>
              <td class="numeric"><%= kick_stats.attempts %></td>
              <td class="numeric"><%= kick_stats.fgs_made %></td>
              <td class="numeric"><%= "%3.1f" % kick_stats.pct_fg %></td>
              <td class="numeric"><%= kick_stats.long %></td>
              <td class="numeric"><%= kick_stats.fgs_blocked %></td>
              <td class="numeric"><%= fgs_made_att_display( 1..19, kick_stats) %></td>
              <td class="numeric"><%= fgs_made_att_display(20..29, kick_stats) %></td>
              <td class="numeric"><%= fgs_made_att_display(30..39, kick_stats) %></td>
              <td class="numeric"><%= fgs_made_att_display(40..49, kick_stats) %></td>
              <td class="numeric"><%= fgs_made_att_display(50..99, kick_stats) %></td>
              <td class="numeric"><%= kick_stats.xps_attempted %></td>
              <td class="numeric"><%= kick_stats.xps_made %></td>
              <td class="numeric"><%= "%3.1f" % kick_stats.pct_xp %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="stats_tables">
      <%= render partial: 'team_run_stats',
            locals: {team_run_stats: @league.total_team_stats.map(&:run_defense_stats).sort_by { |s| s.yards }} %>

      <%= render partial: 'team_pass_stats',
            locals: {team_pass_stats: @league.total_team_stats.map(&:pass_defense_stats).sort_by { |s| s.rating }} %>
    </div>
  <% end -%>
</div>
