<% return if play.extra_point?
   gss = play.game_snapshot
   return unless gss
   game = play.game
   is_end_of_game = @game.end_of_game? -%>
<tr>
  <td class="numeric"><%= "##{play.number}" %></td>
  <td><%= "Q#{gss.quarter}" %></td>
  <td class="numeric"><%= time_left_display(gss.time_left) %></td>
  <td><%= gss.offense.abbr %></td>
  <td><%= ball_on_display(gss) %></td>
  <td><%= down_and_yard_display(gss) %></td>
  <td><%= play %></td>
  <td><%= "#{game.home_team} #{gss.score_home} - #{game.visitors} #{gss.score_visitors}" %></td>
  <% if is_end_of_game -%>
    <td><span class="toggle_strategy_tool_judgments_display button">[+]</span></td>
  <% end -%>
</tr>
<% if is_end_of_game -%>
  <tr hidden>
    <td colspan="6">
      <%= render partial: 'strategy_tool_judgments', locals: {game: gss} %>
    </td>
    <td>
      Play id = <%= play.id %><br>
      GameSnapshot id = <%= gss.id %><br>
    </td>
  </td>
<% end -%>
