<% return if play.extra_point_try?
   gss = play.game_snapshot
   return unless gss
   game = play.game
   is_final = @game.final? -%>

<%
   classes = []
   classes << 'no_scoring' if play.no_scoring?
   classes << 'border_bottom_thick' if gss.quarter == 3 && gss.time_left >= 15 * 60
   classes << 'border_top' if play.possession_changed?
-%>

<tr class="<%= classes.join(' ') %>">
  <td class="numeric"><%= "##{play.number}" %></td>
  <td><%= "Q#{gss.quarter}" %></td>
  <td class="numeric"><%= time_left_display(gss.time_left) %></td>
  <td><%= gss.offense.abbr %></td>
  <td><%= ball_on_display(gss) %></td>
  <td><%= down_and_yard_display(gss) %></td>
  <td><%= play %></td>
  <td>
    <% unless play.no_scoring? -%>
      <% gss.add_points(play.point_scored, !play.safety? && !play.possession_changed?)
         gss.add_points(play.next_play&.point_scored) if play.touchdown? -%>
      <%= "#{game.visitors} #{gss.score_visitors} - #{game.home_team} #{gss.score_home}" %>
    <% end -%>
  </td>
  <% if is_final -%>
    <td><span class="toggle_strategy_tool_judgments_display button">[+]</span></td>
    <td><%= play.offensive_play %></td>
    <td><%= play.offensive_play_set %></td>
    <td class="centered"><%= play.defensive_play&.name %></td>
    <% if play.offensive_play&.normal? -%>
      <% gss.result = play
         gss.set_plays_and_play_sets_from_result -%>
      <td class="centered"><%= gss.original_result %></td>
    <% else -%>
      <td>
    <% end -%>
  <% end -%>
</tr>
<% if is_final -%>
  <tr <%= play.id == @play_id_to_show_details ? '' : 'hidden' %>>
    <td colspan="6">
      <%= render partial: 'strategy_tool_judgments', locals: {game: gss} %>
    </td>
    <td>
      <%= link_to '[KEEP OPEN]', game_path(@game, play_id_to_show_details: play.id) %>
      <br>
      <br>
      <table class="score_board">
        <%= render partial: 'score_board', locals: {game: gss} %>
      </table>
      <br>
      Play id = <%= play.id %><br>
      GameSnapshot id = <%= gss.id %><br>
      <br>
      <br>
      <%= link_to '[Replay]', replay_games_path(play_id: play.id) %>
    </td>
  </td>
<% end -%>
