<% gss = play.game_snapshot
   game = play.game -%>
<tr>
  <td><%= "Q#{gss.quarter}" %></td>
  <td><%= time_left_display(gss.time_left) %></td>
  <td><%= gss.offense %></td>
  <td><%= ball_on_display(gss) %></td>
  <td><%= down_and_yard_display(gss) %></td>
  <td><%= play %></td>
  <td><%= "#{game.home_team} #{gss.score_home} - #{game.visitors} #{gss.score_visitors}" %></td>
</tr>
