<div class="strategy_tool_judgments">
  <table>
    <tbody>
      <tr>
        <td>Offensive play set:</td>
        <td><%= game.offense.offensive_strategy.offensive_play_set(game) %></td>
      </tr>
      <tr>
        <td>Defensive play set:</td>
        <td><%= game.defense.defensive_strategy.defensive_play_set(game) %></td>
      </tr>

      <% StrategyToolJudge.judgments(game).each do |name, value| -%>
        <% is_true = value.is_a?(TrueClass) -%>
        <tr>
          <td class="<%= is_true ? 'true' : '' %>">
            <%= name %>
          </td>
          <td class="<%= is_true ? 'true' : '' %> value">
            <%= is_true            ? 'TRUE'
              : value.is_a?(Float) ? time_left_display(value.to_i)
              : value %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
