<div class="games_index">
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| -%>
        <% stats = Stats::Game.new(game)
           stats_home     = stats.stats_home
           stats_visitors = stats.stats_visitors -%>
        <tr>
          <td class="numeric"><%= link_to game.id, game %></td>
          <td><%= game.home_team %></td>
          <td class="numeric score"><%= game.score_home %></td>
          <td><%= game.visitors %></td>
          <td class="numeric score"><%= game.score_visitors %></td>
          <td><%= "#{game.quarter}Q" %></td>
          <td class="numeric"><%= time_left_display(game.time_left) %></td>
          <td><%= game.next_play %></td>
          <td><%= game.status %></td>
          <td><%= "#Play's = #{game.plays.count}" %></td>
          <td><%= link_to 'stats', stats_path(game_id: game) %></td>
          <td><%= "#{yards_per_carry_display(stats_home)} vs #{yards_per_carry_display(stats_visitors)}" %></td>
          <td><%= "#{pct_comp_display(stats_home)} vs #{pct_comp_display(stats_visitors)}" %></td>
          <td><%= "#{long_runs_display(stats_home)} vs #{long_runs_display(stats_visitors)}" %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
