<table id="score_board">
  <tr>
    <td class="tight"><%= @game.home_has_ball ? '<>' : '' %>
    <td>H</td>
    <td class="numeric"><%= @game.score_home %></td>
    <td><%= '.' * @game.timeout_home %></td>
    <td><%= "#{@game.quarter}Q" %></td>
    <td><%= down_and_yard_display(@game) %></td>
  </tr>
  <tr>
    <td class="tight"><%= @game.home_has_ball ? '' : '<>' %>
    <td>V</td>
    <td class="numeric"><%= @game.score_visitors %></td>
    <td><%= '.' * @game.timeout_visitors %></td>
    <td><%= time_left_display(@game.time_left) %></td>
    <td><%= ball_on_display(@game.ball_on) %></td>
  </tr>
</table>

<br>
<table id="information_board">
  <tr>
    <td><%= @game.result %></td>
  </tr>
  <tr>
    <td><%= @game.offensive_play %></td>
  <tr>
  </tr>
    <td><%= @game.defensive_play %></td>
  </tr>
</table>

<br>
<%= form_tag @game, method: :patch do %>
  <%= text_field_tag :play, @game.next_play %>
  <%= submit_tag :enter %>
  <%= content_tag :div, @game.error_message, class: :error %>
<% end -%>

<br>
<table id="play_by_play" hidden>
  <%= render @game.plays %>
</table>
