<table>
  <tr>
    <td><%= @game.is_ball_to_home ? '<>' : '' %>
    <td>H</td>
    <td><%= @game.score_home %></td>
    <td><%= '.' * @game.timeout_home %></td>
    <td><%= "#{@game.quarter}Q" %></td>
    <td><%= "#{@game.down}&#{@game.yard_to_go}" %></td>
  </tr>
  <tr>
    <td><%= @game.is_ball_to_home ? '' : '<>' %>
    <td>V</td>
    <td><%= @game.score_visitors %></td>
    <td><%= '.' * @game.timeout_visitors %></td>
    <td><%= time_left_display(@game.time_left) %></td>
    <td><%= ball_on_display(@game) %></td>
  </tr>
</table>
