<table id="score_board" class="score_board" <%= 'hidden' if @game_snapshot_prev %>>
  <%= render partial: 'score_board', locals: {game: @game} %>
</table>
<table id="score_board_prev" class="score_board" <%= 'hidden' unless @game_snapshot_prev %>>
  <%= render partial: 'score_board', locals: {game: @game_snapshot_prev} %>
</table>

<br>

  <%#
      previous_spot = 72
      @game.instance_variable_set('@previous_spot', previous_spot)

      @game.offensive_play = OffensivePlay.find(10)
      @game.instance_variable_set('@defensive_play', DefensivePlay.find(3))
      play = Play.parse('cmp+27')
      play.scoring = ''#'TOUCHDOWN'
      @game.ball_on = previous_spot + play.yardage
      @game.instance_variable_set('@result', play)

      @game.instance_variable_set('@announcement', Announcer.announce(play, @game))
  -%>

<% announcement = @game.announcement -%>
<div id="announce_board" data-announcements="<%= announcement&.to_s(speed: @speed_of_announce) %>"></div>
<table id="information_board" <%= 'hidden' if announcement && !announcement.empty? %>>
  <tr>
    <td><%= @game.result %></td>
  </tr>
  <tr>
    <td><%= offensive_play_display(@game) %></td>
  <tr>
  </tr>
    <td><%= defensive_play_display(@game) %></td>
  </tr>
</table>

<div id="form_command">
  <br>
  <%= form_tag @game, method: :patch do %>
    <%= @game.status %>
    <%= text_field_tag :play, @game.prompt, autofocus: true, onfocus: "this.select();" %>
    <%= submit_tag :proceed %>
    <%= content_tag :div, @game.error_message, class: :error %>
  <% end -%>
</div>

<br>
<% if @game.choose_offense? -%>
  <table class="plays_to_choose">
    <% OffensivePlay.all.each do |offensive_play| -%>
      <tr class="<%= offensive_play.number % 4 == 0 ? 'border_bottom' : '' %>">
        <td class="numeric"><%= offensive_play.number %></td>
        <td><%= offensive_play.name %></td>
      </tr>
    <% end -%>
  </table>
<% elsif @game.choose_defense? -%>
  <table class="plays_to_choose">
    <tr class="border_bottom">
      <td>
      <td>
      <td>Against Run</td>
      <td>Against Pass</td>
    </tr>
    <% DefensivePlay.all.each do |defensive_play| -%>
      <tr class="<%= %>">
        <td><%= defensive_play.name %></td>
        <td><%= defensive_play.formation %></td>
        <td><%= defensive_play.against_run %></td>
        <td><%= defensive_play.against_pass %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>

<br>
<span id="toggle_plays_display" class="button">[+]</span>

<table id="play_by_play" hidden>
  <%= render @game.plays.order(number: :desc) %>
</table>
