<table id="score_board"
       class="score_board <%= @score_board_class %>"
       <%= 'hidden' if @game_snapshot_prev %>>
  <%= render partial: 'score_board', locals: {game: @game} %>
</table>
<table id="score_board_prev"
       class="score_board"
       <%= 'hidden' unless @game_snapshot_prev %>>
  <%= render partial: 'score_board', locals: {game: @game_snapshot_prev} %>
</table>

<br>
<% announcement = @game.announcement
   hidden_due_to_announcement = announcement && !announcement.empty? ? 'hidden' : '' -%>
<div id="announce_board" data-announcements="<%= announcement&.to_s(speed: @speed_of_announce) %>"></div>
<table id="information_board" <%= hidden_due_to_announcement %>>
  <tr>
    <td><%= @game.result %></td>
  </tr>
  <tr>
    <td><%= offensive_play_display(@game) %></td>
  <tr>
  </tr>
    <td><%= defensive_play_display(@game) %></td>
  </tr>
</table>

<% unless @replay -%>
  <div id="form_command" <%= hidden_due_to_announcement %>>
    <br>
    <%= form_tag @game, method: :patch do %>
      <%= @game.prompt %>
      <%= text_field_tag :play, @game.default_play_input, onfocus: "this.select();" %>
      <%= hidden_field_tag :no_huddle, @game.no_huddle %>
      <%= hidden_field_tag :two_point_try, @game.two_point_try %>
      <%= submit_tag :proceed %>

      <%= link_to "Stats", stats_path(game_id: @game) %>
      <%= link_to "Games", games_path(league_id: @game.league) %>
      <%= link_to 'Teams', '#', id: 'toggle_teams' %>
      <% if @game.league -%>
        <%= link_to "League", @game.league %>
      <% end -%>

      <div class="error"><%= @game.error_message %></div>
    <% end -%>
  </div>

  <% unless @game.played_over? -%>
    <div id="judgments_and_plays">
      <div id="strategy_tool_judgments">
        <div style="margin-bottom: 5px;">
          <%= "speed = #{@speed_of_announce || 1}" %>
        </div>
        <%= render partial: 'strategy_tool_judgments', locals: {game: @game} %>
      </div>

      <% if @game.shows_offensive_plays_to_choose? -%>
        <% [OffensivePlay.normal_plays, OffensivePlay.non_normal_plays].each do |plays| -%>
          <table class="plays_to_choose">
            <% plays.order(:number).each do |offensive_play| -%>
              <% clazz = ''
                 clazz = 'border_bottom' if offensive_play.number % 4 == 0
                 clazz = 'border_top'    if offensive_play.number % 100 == 1 -%>
              <tr class="<%= clazz %>">
                <td class="numeric"><%= offensive_play.number %></td>
                <td><%= offensive_play.name %></td>
              </tr>
            <% end -%>
          </table>
        <% end -%>
      <% elsif @game.shows_defensive_plays_to_choose? -%>
        <table class="plays_to_choose">
          <tr class="border_bottom">
            <td>
            <td>
            <td>Against Run</td>
            <td>Against Pass</td>
          </tr>
          <% DefensivePlay.all.each do |defensive_play| -%>
            <tr class="<%= %>">
              <td><%= defensive_play.name %></td>
              <td><%= defensive_play.formation %></td>
              <td><%= defensive_play.against_run %></td>
              <td><%= defensive_play.against_pass %></td>
            </tr>
          <% end -%>
        </table>
      <% end -%>
    <% end -%>

    <div class="team_traits" hidden>
      <%= render partial: 'teams/traits', locals: {teams: [@game.visitors, @game.home_team]} %>
    </div>
  </div>

  <div class="buttons" <%= hidden_due_to_announcement %>>
    <span id="toggle_plays_display" class="button">[Plays]</span>
    <span id="toggle_scorings" class="button" <%= hidden_due_to_announcement %>>[Scorings]</span>
    <% unless @game.final? -%>
      <span id="toggle_stats_display" class="button">[Stats]</span>
    <% end -%>
  </div>

  <table id="play_by_play" class="table_base" <%= 'hidden' unless @game.played_over? %>>
    <% plays = @game.plays.includes(:game_snapshot).order(number: :desc).tap { |plays|
                 plays.each_cons(2) do |next_play, play|
                   next_play.is_two_point_try = play.touchdown? && !next_play.extra_point_try?
                 end
               } -%>
    <%= render plays %>
  </table>

  <div <%= 'hidden' unless @game.played_over? %>>
    <div class="stats" <%= 'hidden' unless @game.played_over? %>>
      <div>
        <% stats = Stats::Game.new(@game) -%>
        <%= render partial: 'stats/team', locals: {team_stats: stats.stats_visitors} %>
        <%= render partial: 'stats/team', locals: {team_stats: stats.stats_home    } %>
      </div>

      <div>
        <%= render partial: 'teams/traits', locals: {teams: [@game.visitors, @game.home_team]} %>
      </div>
    </div>
  </div>
<% end -%>
