<table id="score_board">
  <tr>
    <td class="tight"><%= @game.home_has_ball ? '<>' : '' %>
    <td><%= @game.home_team.abbr %></td>
    <td class="numeric"><%= @game.score_home %></td>
    <td><%= '.' * @game.timeout_home %></td>
    <td><%= "#{@game.quarter}Q" %></td>
    <td><%= down_and_yard_display(@game) %></td>
  </tr>
  <tr>
    <td class="tight"><%= @game.home_has_ball ? '' : '<>' %>
    <td><%= @game.visitors.abbr %></td>
    <td class="numeric"><%= @game.score_visitors %></td>
    <td><%= '.' * @game.timeout_visitors %></td>
    <td><%= time_left_display(@game.time_left) %></td>
    <td><%= ball_on_display(@game) %></td>
  </tr>
</table>

<br>
<table id="information_board">
  <tr>
    <td><%= @game.result %></td>
  </tr>
  <tr>
    <td><%= offensive_play_display(@game) %></td>
  <tr>
  </tr>
    <td><%= defensive_play_display(@game) %></td>
  </tr>
</table>

<br>
<%= form_tag @game, method: :patch do %>
  <%= text_field_tag :play, @game.prompt, autofocus: true, onfocus: "this.select();" %>
  <%= submit_tag :proceed %>
  <%= content_tag :div, @game.error_message, class: :error %>
<% end -%>

<br>
<% if @game.choose_offense? -%>
  <table class="plays_to_choose">
    <% OffensivePlay.all.each do |offensive_play| -%>
      <tr class="<%= offensive_play.number % 4 == 0 ? 'border_bottom' : '' %>">
        <td class="numeric"><%= offensive_play.number %></td>
        <td><%= offensive_play.name %></td>
      </tr>
    <% end -%>
  </table>
<% elsif @game.choose_defense? -%>
  <table class="plays_to_choose">
    <tr class="border_bottom">
      <td>
      <td>
      <td>Against Run</td>
      <td>Against Pass</td>
    </tr>
    <% DefensivePlay.all.each do |defensive_play| -%>
      <tr class="<%= %>">
        <td><%= defensive_play.name %></td>
        <td><%= defensive_play.formation %></td>
        <td><%= defensive_play.against_run %></td>
        <td><%= defensive_play.against_pass %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>

<br>
<span id="toggle_plays_display" class="button">[+]</span>

<table id="play_by_play" hidden>
  <%= render @game.plays.order(number: :desc) %>
</table>
