<table class="table_base">
  <thead>
    <tr class="border_bottom_thick">
      <th colspan="2" class="border_right_thick">
      <% play_sets.each do |play_set| -%>
        <th><%= link_to play_set, play_sets_path(class: play_set.class, id: play_set) %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% plays.each do |play| -%>
      <tr>
        <% if play.is_a?(OffensivePlay) -%>
          <th><%= play.number %></th>
          <th class="border_right_thick"><%= play.name %></th>
        <% else -%>
          <th><%= play.name %></th>
          <th class="border_right_thick"><%= play.formation %></th>
        <% end -%>

        <% play_sets.each do |play_set| -%>
          <td class="numeric">
            <% weight = play_set.choice_for(play)&.weight -%>
            <% if play_set == @play_set_for_form -%>
              <%= number_field_tag :"choice[#{play.id}]", weight || 0 %>
            <% else -%>
              <%= weight %>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
