<div class="play_sets_index">
  <table id="offensive_play_sets" class="table_base">
    <thead>
    </thead>
    <tbody>
      <tr class="border_bottom_thick">
        <th colspan="2" class="border_right_thick">
        <% @offensive_play_sets.each do |play_set| -%>
          <th><%= play_set %></th>
        <% end -%>
      </tr>
      <% @offensive_plays.each do |op| -%>
        <tr>
          <th><%= op.number %></th>
          <th class="border_right_thick"><%= op.name %></th>
          <% @offensive_play_sets.each do |play_set| -%>
            <td class="numeric">
              <%= play_set.offensive_play_set_choices.find_by(offensive_play: op)&.weight %>
            </td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <table id="defensive_play_sets" class="table_base">
    <thead>
    </thead>
    <tbody>
      <tr class="border_bottom_thick">
        <th colspan="2" class="border_right_thick">
        <% @defensive_play_sets.each do |play_set| -%>
          <th><%= play_set %></th>
        <% end -%>
      </tr>
      <% @defensive_plays.each do |dp| -%>
        <tr>
          <th><%= dp.name %></th>
          <th class="border_right_thick"><%= dp.formation %></th>
          <% @defensive_play_sets.each do |play_set| -%>
            <td class="numeric">
              <%= play_set.defensive_play_set_choices.find_by(defensive_play: dp)&.weight %>
            </td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
