<% @freq_dists.each do |freq_dist| -%>
  <% h = freq_dist.h_freq -%>
  <table style="margin-bottom: 10px">
    <% (freq_dist.min .. freq_dist.max).each do |k| -%>
      <tr>
        <td style="text-align: right"><%= k %></td>
        <td><%= '*' * h[k] %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>

<div>
  <%
    field_vision = FieldVision.instance
    #field_vision.set_teams_from(game)
    field_vision.place_ball_marker(@game)
  -%>
  <%= field_vision.to_s.html_safe %>

  <%= form_with url: miscs_path, method: :get do |f| %>
    <%= f.label :yard %>
    <%= f.number_field :yard, autofocus: true %>
    <%= f.submit :go %>
  <% end -%>
</div>
