<div class="stats_team">
  <% run_stats  = team_stats.run_stats
     pass_stats = team_stats.pass_stats -%>

  <h5><%= team_stats.team %></h5>

  <table class="table_stats_team table_base">
    <thead>
      <tr>
        <th>Att</th>
        <th>Yards</th>
        <th>Avg</th>
        <th>Long</th>
        <th>TD</th>
        <th>FL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="numeric"><%= run_stats.attempts %></td>
        <td class="numeric"><%= run_stats.yards %></td>
        <td class="numeric"><%= "%3.1f" % run_stats.yards_per_carry %></td>
        <td class="numeric"><%= run_stats.long %></td>
        <td class="numeric"><%= run_stats.touchdowns %></td>
        <td class="numeric"><%= run_stats.fumbles_lost %></td>
      </tr>
    </tbody>
  </table>

  <table class="table_base">
    <thead>
      <tr>
        <th>Att</th>
        <th>Cmp</th>
        <th>%Cmp</th>
        <th>Yards</th>
        <th>Y/Att</th>
        <th>Y/Cmp</th>
        <th>Long</th>
        <th>TD</th>
        <th>Int</th>
        <th>Sack</th>
        <th>FL</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="numeric"><%= pass_stats.attempts %></td>
        <td class="numeric"><%= pass_stats.completions %></td>
        <td class="numeric"><%= "%3.1f" % pass_stats.pct_comp %></td>
        <td class="numeric"><%= pass_stats.yards %></td>
        <td class="numeric"><%= "%3.1f" % pass_stats.yards_per_attempt %></td>
        <td class="numeric"><%= "%3.1f" % pass_stats.yards_per_completion %></td>
        <td class="numeric"><%= pass_stats.long %></td>
        <td class="numeric"><%= pass_stats.touchdowns %></td>
        <td class="numeric"><%= pass_stats.intercepted %></td>
        <td class="numeric"><%= pass_stats.sacked %></td>
        <td class="numeric"><%= pass_stats.fumbles_lost %></td>
        <td class="numeric"><%= "%4.1f" % pass_stats.rating %></td>
      </tr>
    </tbody>
  </table>
</div>
